@import "variables.scss";
@import "reset.scss";
@import "layout.scss";
@import "contador.scss";
@import "modal.scss";
@import "filtros.scss";

/* Responsive */
@media (max-width: 900px) {
  .app-main {
    max-width: 98vw;
    padding: $spacing-md $spacing-sm;
  }
  .contador {
    max-width: 98vw;
  }
  .listado-contadores {
    grid-template-columns: 1fr;
    padding: $spacing-md;
  }
  .filtros {
    flex-direction: column;
    align-items: stretch;
  }
}